날짜 별 날씨 데이터를 구했으나 날짜와 날씨가 문자열로 붙어있는 형태여서 읽기나 처리하기가 어려운 상황이라고 가정해봅시다. 이 데이터를 딕셔너리 형태로 가공하려고 합니다.

아래 assert문이 통과되도록 process_data 함수를 구현하세요.

In [141]:
data = ['Sunny20210101']
result = []
for s in data:
    end = 0
    for i, c in enumerate(s):
        if '0' <= c <= '9':
            result.append({
                'weather': s[:i],
                'date': s[i:]
            })
            break
print(result)

[{'weather': 'Sunny', 'date': '20210101'}]

In [144]:
def process_data(data):
    result = []
    for s in data:
        for i, c in enumerate(s):
            if '0' <= c <= '9':
                result.append({
                    'weather': s[:i],
                    'date': s[i:]
                })
                break
    return result

# 데이터와 테스트 코드는 수정하지 마세요.
raw_data = ['Sunny20210101', 'Rainy20210102', 'Cloudy20210103']
processed_data = [{'weather': 'Sunny', 'date': '20210101'}, {'weather': 'Rainy', 'date': '20210102'}, {'weather': 'Cloudy', 'date': '20210103'}]

assert process_data(raw_data) == processed_data

주어진 리스트에서 각 아이템이 몇개씩 등장했는지 세는 함수를 구현하려고 합니다.<br>
이 함수는 리스트 변수를 입력으로 받고 딕셔너리를 출력하는데,<br>
딕셔너리의 각 쌍의 키는 아이템이고 값은 해당 아이템이 출현한 횟수입니다.

파이썬의 기본 기능 외의 라이브러리를 쓰지 않고 구현해 주세요.

In [160]:
result = {}
for key in ["A", "A", "B", "C", "C", "C"]:
    if key not in result:
        result[key] = 1
    else:
        result[key] += 1
result

{'A': 2, 'B': 1, 'C': 3}

In [163]:
def count(data):
    result = {}
    for key in data:
        if key not in result:
            result[key] = 1
        else:
            result[key] += 1
    return result

# 데이터와 테스트 코드는 수정하지 마세요.
assert count(["A", "B", "C"]) == {"A": 1, "B": 1, "C": 1}
assert count(["A", "A", "B", "C", "C", "C"]) == {"A": 2, "B": 1, "C": 3}
assert count(["D", "A", "D", "B", "C", "A", "C"]) == {"A": 2, "B": 1, "C": 2, "D": 2}

날짜 별, 지역 별 매출 데이터가 있습니다. 그런데 매출의 데이터 형식이 문자열로 들어가 있고,중간에 빠진 값이 있습니다.<br>
매출의 데이터 형식을 숫자형으로 바꾸고 결측치를 제외한 지역 별 평균 매출을 구해보세요.

Hint: 판다스의 groupby를 사용해 보세요.

In [164]:
import pandas as pd

raw_data = pd.DataFrame(
    [{"날짜": "20210101", "지역": "서울", "매출": "10"},
     {"날짜": "20210101", "지역": "부산", "매출": "20"},
     {"날짜": "20210101", "지역": "제주", "매출": "8"},
     {"날짜": "20210102", "지역": "서울", "매출": "15"},
     {"날짜": "20210102", "지역": "부산", "매출": None},
     {"날짜": "20210102", "지역": "제주", "매출": "10"}]
)

In [201]:
raw_data

         날짜  지역    매출
0  20210101  서울    10
1  20210101  부산    20
2  20210101  제주     8
3  20210102  서울    15
4  20210102  부산  None
5  20210102  제주    10

In [246]:
df = raw_data.dropna()
df = df.assign(매출=lambda x: pd.to_numeric(x.매출))
df = df.groupby(by=['지역']).mean()
df

      매출
지역
부산  20.0
서울  12.5
제주   9.0

In [250]:
import pandas as pd

def average_by_region(data):
    df = raw_data.dropna()
    df = df.assign(매출=lambda x: pd.to_numeric(x.매출))
    df = df.groupby(by=['지역']).mean()
    return df['매출']

# 데이터와 테스트 코드는 수정하지 마세요.

raw_data = pd.DataFrame(
    [{"날짜": "20210101", "지역": "서울", "매출": "10"},
     {"날짜": "20210101", "지역": "부산", "매출": "20"},
     {"날짜": "20210101", "지역": "제주", "매출": "8"},
     {"날짜": "20210102", "지역": "서울", "매출": "15"},
     {"날짜": "20210102", "지역": "부산", "매출": None},
     {"날짜": "20210102", "지역": "제주", "매출": "10"}]
  )

result = pd.Series([20.0, 12.5, 9.0], index=['부산', '서울', '제주'])

assert average_by_region(raw_data).equals(result) # 판다스 시리즈(Series)의 equals는 두 시리즈의 내용이 같은지 검사한다.